/*./frontend/scorch-web-app/src/components/MainLayout/MainLayout.css*/

.mainLayout {
    display: flex;
    flex-direction: column;
    height: 100vh; /* full height */
    width: 100vw; /* full width */
    overflow-x: hidden; /* prevents horizontal scroll */
}

.bodyWrapper {
    display: flex;
    flex: 1;
    transition: margin-left 0.5s; /* smooth transition for sidebar */
}

.sideBar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #dddddd;
    width: 250px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    left: 0; /* make sidebar visible by default */
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
}

.contentArea {
    flex-grow: 1;
    overflow: auto;
    padding: 20px;
    margin-left: 250px; /* give space for the sidebar */
}


/* Mobile view */
@media screen and (max-width: 768px) {
    .sideBar {
        width: 100%;
        left: -100%; /* hide sidebar off-screen */
    }

    /* Use this rule to show the sidebar when .sideBarOpen is added */
    .sideBar.sideBarOpen {
        left: 0; /* bring sidebar on screen */
    }

    .contentArea {
        margin-left: 0; /* no margin when sidebar is hidden */
    }

    /* When sideBar is open, shift contentArea */
    .sideBarOpen + .contentArea {
        margin-left: 250px; /* push content over when sidebar is visible */
    }
}
