.mainLayout {
    display: flex;
    flex-direction: column;
    height: 100vh; /* full height */
    width: 100vw; /* full width */
    overflow-x: hidden; /* prevents horizontal scroll */
}

.bodyWrapper {
    display: flex;
    flex: 1;
    transition: margin-left 0.5s; /* smooth transition for sidebar */
}

.sideBar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #dddddd;
    width: 250px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    position: fixed; /* fixed position */
    z-index: 1; /* above the content */
    left: -250px; /* initially off screen */
    height: 100%; /* full height */
    overflow-x: hidden; /* prevents horizontal scroll */
    transition: 0.5s; /* smooth transition for sidebar */
}

.contentArea {
    flex-grow: 1;
    overflow: auto;
    padding: 20px;
    margin-left: 0; /* no margin if sidebar is hidden */
}

/* When sideBar is open, shift contentArea */
.sideBarOpen .contentArea {
    margin-left: 250px; /* match the width of the sidebar */
}

/* Mobile view */
@media screen and (max-width: 768px) {
    .sideBar {
        width: 100%; /* full width */
        left: -100%; /* initially off screen */
    }

    /* When sideBar is open, shift contentArea */
    .sideBarOpen .contentArea {
        margin-left: 100%; /* full width */
    }
}
