/*"\frontend\scorch-web-app\src\components\Customers\SearchAndFilterSection\SearchAndFilterSection.css" */
.search-and-filter {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10px;
    flex-wrap: wrap;
    /* Allow items to wrap onto the next line */
}

input {
    user-select: text;
    margin: 10px;
    border-radius: 5px;
    max-width: 20%;
    flex: 1 1 auto;
    /* inputs will grow and shrink but always take up space */
}

button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 20%;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Add some hover effect for better UX */
button:hover {
    background-color: #2980b9;
    /* a slightly darker blue on hover */
}

/* Media query for smaller screens */
@media (max-width: 1030px) {
    .search-and-filter {
        flex-direction: column;
        align-items: stretch;
        /* Stretch the children to match the parent's width */
    }

    input,
    button {
        margin-left: 0;
        margin-right: 0;
        width: 30%;
        /* Subtract the margin from the width */
        max-width: 100%;
    }

    button {
        margin-top: 10px;
    }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .search-and-filter {
        flex-direction: column;
        align-items: stretch;
        /* Stretch the children to match the parent's width */
    }

    input,
    button {
        margin-left: 0;
        margin-right: 0;
        width: calc(100% - 20px);
        /* Subtract the margin from the width */
        max-width: 100%;
    }

    button {
        margin-top: 10px;
    }
}